

table {
    margin: auto;
    width: 50%;
    border: 1rem solid yellow;
    background-color: #8abef1;
    border-radius: 7px;
    border-width: thick;
}

th {
    font-size: 1.25rem;
}
th, td {
    padding: 20px 100px;
    text-align: center;
}

.navbar {
    width: 99.62%;
    background-color: #8abef1;
    position: fixed;
    top: 0;
    left: 0;
    border: solid;
    border-radius: 7px;
    border-color: yellow;
    border-width: thick;
}

.wrapper li {
    list-style: none;
    margin: 0px 30px;
    display: inline-block;
    font-size: 40px;
    padding: 20px 20px;
    color: black;
    transition: .5s;
    float: right;
    font-family: 'Permanent Marker', cursive;
}

.wrapper li:link {color: black}
.wrapper li:hover {color: white}

.wrapper a {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}

.wrapper a:link {color: black}
.wrapper a:visited {color: black}
.wrapper a:hover {color: white}


.text-box {
    text-align: center;
}

.text-box h1 {
    padding-top: 40px;
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
}

.text-box h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    padding: 30px 0px;
}

.image-container {
    margin: auto;
    width: 43%;
}

.image-main {
   border-radius: 50%;
   max-width: 100%;
}



.odd {
    background-color: #c0d5eb;
}



