
@font-face {
  font-family: "Digital";
  src: url('./@font-face/8e22783d707ad140bffe18b2a3812529.woff');
}

button {
    border-color: gray;
    color: white;
    font-size: 11px;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px ; 
    grid-template-rows: 65px 65px 65px 65px 65px 65px ; 
    background-color: #2196F3;
    width: 320px;
    padding: 5px;
    background-color: black;
    color: white;
}

.grid-item {
    padding: 25px;
    outline: 1px solid black;
    text-align: center;
    background-color: #4D4D4D;
}

#display {
    grid-column: 1 / 5;
    grid-row: 1 / 2;    
    display: grid;
    grid-template-rows: 50% 50%;
    text-align: end;
    padding: 7px;
    background-color: #000;
}

#outputDisplay {
    font-size: 25px;
    font-family: digital;
    margin-top: 4px;
}

#outputDisplay {
    margin: none;
}

#clear {
    grid-column: 1 / 3;
    background-color: #AC3939;
}

#equals {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004466;
}

#zero {
    grid-column: 1 / 3;
}

#divide, #multiply, #subtract, #add {
    background-color: #666666;
}
 #equation-display {
    font-size: 20px;
    font-family: digital;
    margin-top: 4px;
    color: #FEA429;
 }


