html, body {
    background: linear-gradient(159deg, #0ce6ae, #d964df);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;
}
 

.box {
    background: linear-gradient(159deg, #0ce6ae, #d964df);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;
    position: relative;
    text-align: center;

}

@keyframes AnimationName { 
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}


.test {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.intro {
    position: relative;
    top: 360px;
    font-size: 50px;
    color: #B47CD6;
}